<img src='./imgs/bg.jpg' class='bg' alt='cocina moderna' />

<div class='container'>
    <nav>
        <img src='./imgs/logo.png' class='logo' alt='logo e distecnomundo' />
    </nav>
    <section class='animate__animated animate__fadeInDown'>
        <img src='./imgs/icon-info.png' class='icon-info' alt='icono' />
        <h1>La tienda online de Distecnomundo está en construcción!!! </h1>
        <p>Si quieres saber más de nuestros productos y servicios ve a nuestro
            instagram o visita nuestra tienda.</p>
    </section>

    <footer>
        <div>
            <a
                href='https://www.instagram.com/distecnomundo/?hl=e'
                target='_blank'
            ><img src='./imgs/iig.png' alt='icono' /></a>
            <a href='https://wa.me/584248951663' target='_blank'><img
                    src='./imgs/iws.png'
                    alt='icono'
                /></a>
            <a href='mailto:distecnomundo@gmail.com' target='_blank'><img
                    src='./imgs/imail.png'
                    alt='icono'
                /></a>
            <a href='https://goo.gl/maps/hpSaBKGg63Myx86y6' target='_blank'><img
                    src='./imgs/imap.png'
                    alt='icono'
                /></a>
        </div>
        <p>Distecnomundo ©2023. All Rights Reserved.</p>
    </footer>
</div>{{! }}