<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Re:Name - Rename your files</title>
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <link rel='stylesheet' href='css/normalize.css' />
        <link rel='stylesheet' href='css/main.css' />
        <link rel='shortcut icon' href='/images/icon.png' type='image/x-icon' />
    </head>
    <body>

        <script
            src='https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js'
        ></script>
        <script src='/js/main.js'></script>

        {{! Configurando Sortable.js  }}
        <script>
            const list = document.getElementById('list'); Sortable.create(list);
        </script>

    </body>
</html>


<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Distecnomundo - línea blanca</title>
        <!-- Custom CSS -->
        <link rel='stylesheet' href='main.css' />
        <!-- Google fonts -->
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap'
            rel='stylesheet'
        />
        <!-- Animate CSS -->
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
        />

        <meta name='robots' content='index,follow' />
        <meta name='author' content='Witsite, servicios digitales c.a' />
        <meta name='copyright' content='Witsite, servicios digitales' />
        <meta
            name='description'
            content='Witsite es una empresa que se dedica a crear sitios web, aplicaciones, tiendas virtuales o cualquier tipo de software orientado a sistematizar procesos y resolver problemas.'
        />
        <meta
            name='keywords'
            content='website, witsite, páginas web, aplicaciones, desarrollo, sitios web, creación, software, en Lechería, en Venezuela, empresa, negocio'
        />
        <link rel='shortcut icon' href='/img/favicon.png' type='image/x-icon' />
    </head>

    <body>
        {{{body}}}
    </body>
</html>